<form nz-form #frmPersonal="ngForm">
  <nz-divider nzText="Personal Details" nzOrientation="left"></nz-divider>
  <div nz-row [nzGutter]="20">
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label>Name</label>
        <div nz-col nzMd="24" nzXs="24">
          <input
            nz-input
            name="name"
            type="text"
            ngModel
            #name="ngModel"
            Placeholder="Enter a Name"
          />
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzMd="24" nzXs="24" nzFor="Gender">Gender</label>
        <div nz-col nzMd="24" nzXs="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Gender"
            name="gender"
            #gender="ngModel"
            ngModel
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzFor="Date of Birth">Date of Birth</label>
        <nz-date-picker
          name="DOB"
          #DOB="ngModel"
          nz-col
          nzMd="24"
          nzXs="24"
          ngModel
          nzAllowClear
        ></nz-date-picker>
      </nz-form-item>
    </div>

    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzFor="Mobile">Mobile</label>
        <div nz-col nzMd="24" nzXs="24">
          <input
            nz-input
            name="mobile"
            type="tel"
            id="mobile"
            #mobile="ngModel"
            ngModel
            Placeholder="Enter a Mobile"
          />
        </div>
      </nz-form-item>
    </div>
  </div>
</form>
