<form nz-form #frmPersonal="ngForm">
  <nz-divider nzText="Personal Details" nzOrientation="left"></nz-divider>
  <div nz-row [nzGutter]="20">
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label>Name</label>
        <div nz-col nzMd="24" nzXs="24">
          <input
            nz-input
            name="name"
            type="text"
            ngModel
            #name="ngModel"
            Placeholder="Enter a Name"
            required
          />
          <div *ngIf="name.errors && frmPersonal.submitted">
            <small style="color: red" *ngIf="name.errors.required"
              >This field is required !</small
            >
          </div>
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzMd="24" nzXs="24" nzFor="Gender">Gender</label>
        <div nz-col nzMd="24" nzXs="24">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Gender"
            name="gender"
            #gender="ngModel"
            ngModel
            required
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
          <div *ngIf="gender.errors && frmPersonal.submitted">
            <small style="color: red" *ngIf="gender.errors.required"
              >This field is required !</small
            >
          </div>
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzFor="Date of Birth">Date of Birth</label>
        <nz-date-picker
          name="DOB"
          #DOB="ngModel"
          nz-col
          nzMd="24"
          nzXs="24"
          ngModel
          nzAllowClear
          required
        ></nz-date-picker>
        <div *ngIf="DOB.errors && frmPersonal.submitted">
          <small style="color: red" *ngIf="DOB.errors.required"
            >This field is required !</small
          >
        </div>
      </nz-form-item>
    </div>

    <div nz-col nzMd="8" nzXs="24">
      <nz-form-item>
        <label nzFor="Mobile">Mobile</label>
        <div nz-col nzMd="24" nzXs="24">
          <input
            nz-input
            name="mobile"
            type="tel"
            id="mobile"
            #mobile="ngModel"
            ngModel
            Placeholder="Enter a Mobile"
            required
          />
          <div *ngIf="mobile.errors && frmPersonal.submitted">
            <small style="color: red" *ngIf="mobile.errors.required"
              >This field is required !</small
            >
          </div>
        </div>
      </nz-form-item>
    </div>
  </div>
</form>
